@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root{
    --background: #37474f;

    --posts-theme-color: #1976d2;
    --comments-theme-color: #ffb74d;

    --text-color: white;
    --posts-background-color: #263238;
    --comment-background-color: #424242;
}

body{
    color: var(--text-color);
    background-color: var(--background);
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

.home-page-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.trending-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}
.trending-posts{
    background-color: #525252;
    width: 95%;
    border-radius: 20px;
}

.trending-posts > .post{
    padding-top: 5px;
}
.trending-posts .close-btn{
    display: none;
}

.searched-posts > .post{
    padding-top: 5px;
}
.searched-posts .close-btn{
    display: none;
}


.posts-container{
    padding: 10px 10% 10px 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post-form{
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 150px;
    width: 300px;
    padding: 10px;
    border: 3px solid var(--posts-theme-color);
    border-radius: 4px;;
    margin-bottom: 10px;
}

.post-submit{
    display: flex;
    width: 100%;
}

.post-form .alert{
    font-size: 1.1rem;
    width: 100%;
}

.post-form .btn{
    color: var(--text-color);
    background-color: var(--posts-theme-color);
    border-radius: 2em;
}

.post-form textarea{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1.25em;
    color: var(--text-color);
    background-color: transparent;
    font-family: 'Rubik', sans-serif;
    resize: none;
}
.post-form textarea:focus{
    outline: none;
}


.search-posts-form{
    position: relative;
    display: flex;
    width: 80%;
    padding: 10px;
}
.search-posts-form input{
    font-size: 1rem;
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 2rem 0 0 2rem;
    border: 2px solid silver;
    width: 80%;
}
.search-posts-form input:focus{
    outline: none;
}
.search-posts-form .btn{
    border: 2px solid silver;
    border-left: 0;
    height: 55px;
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0 2rem 2rem 0;
}
.search-posts-form .alert{
    visibility: hidden;
    position: absolute;
    left: 30px;
    top: 0;

    font-size: 0.75rem;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}



.alert{
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ef5350;
}

.btn{
    padding: 10px;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

.btn:hover{
    cursor: pointer;
    filter: brightness(85%);
}

.close-btn{
    padding: 5px;
    position: absolute;
    width: min-content;
    font-weight: bold;
    color: red;
}

.close-btn:hover{
    color: #ef5350;
}






.posts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.post{
    position: relative;
    background-color: var(--posts-background-color);
    padding: 20px 20px 30px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px var(--posts-theme-color);
    margin: 10px;
}

.post p{
    font-size: 1.3rem;
}

.post > .close-btn{
    font-size: 0.75rem;
    top: 10px;
    right: 10px;
}

.post > .likes{
    font-size: 1rem;
    position: absolute;
    bottom: -2.5px;
    left: 20px;

    display: flex;
    align-items: center;
    gap: 5px;
}


.post > .likes p{
    font-size: 0.85rem;
}

.post > .likes > .like-icon{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post > .likes > .like-icon:hover{
    background-color: #ef5350;
    border-radius: 50%;
    cursor: pointer;
}


.comments{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.comments > p{
    color: var(--comments-theme-color);
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}
.comment{
    position: absolute;
    background-color: var(--comment-background-color);
    position: relative;
    padding: 10px 5px 20px 5px;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px var(--comments-theme-color);
}

.comment > .close-btn{
    font-size: 0.5rem;
    right: 0px;
    top: -2px;
}

.comment > .likes{
    font-size: 0.6rem;
    position: absolute;
    bottom: -5px;
    left: 10px;

    display: flex;
    align-items: center;
    gap: 5px;
}


.comment > .likes p{
    color: lightgrey;
    font-size: 0.6rem;
}

.comment > .likes > .like-icon{
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment > .likes > .like-icon:hover{
    background-color: #ef5350;
    border-radius: 50%;
    cursor: pointer;
}

.comment-form{
    position: relative;
    display: flex;
    gap: 5px;
}

.comment-form .alert{
    visibility: hidden;
    position: absolute;
    left: 5px;
    top: -15px;

    font-size: 0.75rem;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}

.comment-form > input{
    font-size: 1rem;
    color: var(--text-color);
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid var(--comments-theme-color);
    width: 100%;
}

.comment-form > input:focus{
    outline: none;
}

.comment-form > .btn{
    background-color: var(--comments-theme-color);
}


@media (max-width:900px){
    .home-page-container{
        display:flex;
        flex-direction: column;
    }
    .posts{
        width: 90%;
    }
    .post-form{
        padding-top: 0 10% 10% 10%;
    }
    .trending-posts{
        width: 80%;
    }
    .search-posts-form{
        padding: 30px 10px 10px 10px;
    }
}
@media (max-width:650px){
    .posts-container{
        padding: 0;
    }
    .posts{
        width: 90%;
    }
    .trending-posts{
        width: 80%;
    }
}
